@mixin d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin d-flex-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin d-flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin d-flex-column-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

@mixin d-flex-column-evenly {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

@mixin d-flex-column-between-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@mixin d-flex-column-evenly-center {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}


