
$color-primary-0B:#0B253C;
$color-primary-1A:#1A364E;
$color-primary-green:#1FA783;
$color-green-lite: rgba(31, 167, 131, 0.15);;
$color-primary-white:#FFFFFF;
$color-primary-gray:#6F889C;
$color-border-gray:#C9D2DA;
$color-background-gray:#F4F5F6;
$color-border-gray-lite:#E1E6EA;






























