.btn-transparent {
  @include d-flex-center;
  height: 4.4rem;
  border-radius: 0.8rem;
  background-color: transparent;
  color: $color-primary-green;
  border: 2px solid $color-primary-green;

  p {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.84rem;
  }

  img {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 1rem;
  }
}

.btn-green {
  @include d-flex-center;
  height: 5.6rem;
  border-radius: 0.8rem;
  background-color: $color-primary-green;
  color: $color-primary-white;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.84rem;
}

.btn-white {
  @include d-flex-start;
  height: 5.6rem;
  border-radius: 0.8rem;
  background-color: $color-primary-white;
  color: #93A1AD;
  padding-left: 2.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}
