h1 {
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5.6rem;
}

h2 {
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.14rem;
}

h3 {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;

}

h4 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.84rem;
  text-align: center;
}
