@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

html {
  font-size: 44%;
}
@media only screen and (min-width: 64em) {
  html {
    font-size: 44%;
  }
}
@media only screen and (min-width: 68.75em) {
  html {
    font-size: 48%;
  }
}
@media only screen and (min-width: 74em) {
  html {
    font-size: 52%;
  }
}
@media only screen and (min-width: 80em) {
  html {
    font-size: 56%;
  }
}
@media only screen and (min-width: 85.5em) {
  html {
    font-size: 59%;
  }
}
@media only screen and (min-width: 90em) {
  html {
    font-size: 62.5%;
  }
}
@media only screen and (min-width: 96em) {
  html {
    font-size: 68%;
  }
}
@media only screen and (min-width: 105em) {
  html {
    font-size: 70%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 78%;
  }
}
@media only screen and (min-width: 120em) {
  html {
    font-size: 83.33%;
  }
}

body {
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  max-width: 100%;
  color: #0B253C;
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.container {
  width: 100%;
  padding: 0 11.3%;
}

h1 {
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5.6rem;
}

h2 {
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.14rem;
}

h3 {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.2rem;
}

h4 {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
}

h5 {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
}

h6 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.84rem;
}

.block-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
}

.slider {
  display: flex;
}
.slider__item {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  border: 2px solid #1FA783;
}
.slider__item:not(:last-child) {
  margin-right: 0.8rem;
}
.slider .active {
  background-color: #1FA783;
}

.slider-block .value-1,
.slider-block .value-2 {
  text-align: end;
  font-weight: bold;
  font-size: 1.6rem;
  width: 100%;
  height: 4rem;
  line-height: 2.4rem;
  color: #1FA783;
  margin-top: 1rem;
  letter-spacing: 0.07rem;
}
.slider-block input[type=range] {
  display: block;
  -webkit-appearance: none;
  background-color: #C9D2DA;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  outline: 0;
}
.slider-block input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #1FA783;
  width: 0.8rem;
  height: 1.8rem;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.slider-block ​ input[type=range]::-webkit-slider-thumb:hover {
  background-color: white;
  border: 2px solid #e74c3c;
}
.slider-block input[type=range]::-webkit-slider-thumb:active {
  transform: scale(1.6);
}

.btn-transparent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.4rem;
  border-radius: 0.8rem;
  background-color: transparent;
  color: #1FA783;
  border: 2px solid #1FA783;
}
.btn-transparent p {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.84rem;
}
.btn-transparent img {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 1rem;
}

.btn-green {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.6rem;
  border-radius: 0.8rem;
  background-color: #1FA783;
  color: #FFFFFF;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.84rem;
}

.card-basic {
  height: 40.5rem;
  width: 31.53%;
  position: relative;
}
.card-basic .card {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  padding: 2.4rem;
  background-color: #F4F5F6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.card-basic .card__heading {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2.6rem;
}
.card-basic .card__heading p:nth-child(1) {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.68rem;
}
.card-basic .card__heading p:nth-child(1) span {
  font-family: Montserrat, sans-serif;
  font-size: 2.8rem;
  font-weight: 600;
  padding-left: 0.8rem;
}
.card-basic .card__heading p:nth-child(2) {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  color: #6F889C;
  padding-left: 0.8rem;
  padding-top: 1.1rem;
}
.card-basic .card__content {
  width: 100%;
  padding-left: 0.7rem;
  height: 15.2rem;
  border-top: 1px solid #E1E6EA;
  border-bottom: 1px solid #E1E6EA;
}
.card-basic .card__content-item {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.card-basic .card__content-item:last-child {
  border-top: 1px solid #E1E6EA;
}
.card-basic .card__content-item div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.card-basic .card__content-item div p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #6F889C;
}
.card-basic .card__content-item div img {
  display: block;
  width: 2rem;
  height: 2rem;
}
.card-basic .card__content-item p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  text-align: left;
}
.card-basic .card .btn-green {
  width: 100%;
}

.card-active {
  background-image: url("../img/card-active-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.card-active .card {
  background-color: transparent;
}
.card-active .card__heading p:nth-child(1) {
  color: #FFFFFF;
}
.card-active .card__content {
  border-top: 1px solid #27445D;
  border-bottom: 1px solid #27445D;
}
.card-active .card__content-item:last-child {
  border-top: 1px solid #27445D;
}
.card-active .card__content-item p {
  color: #FFFFFF;
}

.arrow-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateX(-50%) translateY(-50%);
}

.arrow-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateX(50%) translateY(-50%);
}

.form-block {
  width: 40%;
  height: 8.2rem;
}
.form-block label {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  text-align: left;
}
.form-block select {
  width: 100%;
  height: 4.4rem;
  border: 1px solid #C9D2DA;
  background-color: #FFFFFF;
  margin-top: 1.5rem;
  padding-left: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  text-align: left;
  appearance: none;
  -webkit-appearance: none;
  background-image: url("../icons/arrow.svg");
  background-repeat: no-repeat;
  background-size: 2rem auto, 100%;
  background-position: right 0.7em top 50%, 0 0;
}

.footer {
  height: 67.6rem;
  background-color: #F4F5F6;
}
.footer__heading {
  height: 15.6rem;
  border-bottom: 1px solid #C9D2DA;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__heading .btn-green {
  width: 27.1%;
}
.footer__center {
  height: 41.2rem;
  display: flex;
  padding: 5.6rem 0;
}
.footer__center-content {
  width: 60%;
  height: 100%;
}
.footer__center-content-top {
  display: flex;
  height: 50%;
}
.footer__center-content-top .content-top-items {
  width: 43%;
}
.footer__center-content-top .content-top-items div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer__center-content-top .content-top-items div img {
  width: 2rem;
  height: 2rem;
}
.footer__center-content-top .content-top-items div p {
  padding-left: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}
.footer__center-content-top .content-top-items div:last-child {
  padding-top: 1.2rem;
}
.footer__center-content-bottom {
  display: flex;
  height: 48%;
  padding-top: 1rem;
  padding-bottom: 5rem;
}
.footer__center-content-bottom div {
  height: 100%;
  width: 29%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}
.footer__center-map {
  width: 40%;
  height: 100%;
}
.footer__bottom {
  height: 10.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__bottom-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer__bottom-left img {
  width: 3.8rem;
  height: 3.8rem;
}
.footer__bottom-left p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #6F889C;
  padding-left: 0.16rem;
}
.footer__bottom-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer__bottom-right a {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: rgba(111, 136, 156, 0.5);
  text-decoration: underline;
}

.main-header {
  height: 53.6rem;
  width: 100%;
  background-image: url("../img/main-header-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  position: relative;
}
.main-header-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: transparent;
  height: 100%;
  padding: 6.8rem 0 5.6rem 11.46%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.main-header-container p {
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 400;
  line-height: 2.8rem;
  text-align: left;
  color: #6F889C;
}
.main-header-container h1 {
  color: #0B253C;
}
.main-header-container h1 span {
  color: #1FA783;
}
.main-header-container .btn-green {
  width: 40%;
  margin-bottom: 7rem;
}

.header {
  height: 13.2rem;
  width: 100%;
}
.header__top {
  height: 8.4rem;
  display: flex;
}
.header__top .top-left {
  width: 48%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header__top .top-left img {
  width: 3.8rem;
  height: 3.8rem;
}
.header__top .top-left__heading {
  color: #0B253C;
  padding-left: 0.747rem;
}
.header__top .top-left__heading p:nth-child(1) {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.76rem;
  letter-spacing: -0.02rem;
  text-align: left;
}
.header__top .top-left__heading p:nth-child(2) {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.38rem;
  text-align: left;
}
.header__top .top-right {
  width: 52%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__top .top-right__call {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.84rem;
  text-align: center;
}
.header__top .top-right__btn {
  width: 19.8rem;
}
.header__top .top-right__gift {
  background-color: #1FA783;
}
.header__top .top-right__menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__top .top-right__menu p {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.8rem;
  text-align: center;
  margin-right: 2rem;
}
.header__top .top-right__menu img {
  width: 4.4rem;
  height: 4.4rem;
}
.header__nav {
  height: 4.8rem;
  background-color: #1A364E;
  color: #FFFFFF;
}
.header__nav-container {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__nav-container a {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stock {
  width: 77.4%;
  margin: 0 11.3%;
  height: 35.2rem;
}
.stock__top {
  background-image: url("../img/stock-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 30.08rem;
  width: 100%;
}
.stock__top-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  padding: 6rem 6.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  color: #FFFFFF;
}
.stock__top-inner div p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  margin-top: 1rem;
}
.stock__top-inner .btn-transparent {
  width: 18.4%;
  color: #FFFFFF;
  border-color: #FFFFFF;
}
.stock__slider {
  width: 100%;
  height: 4.4rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.your-time {
  height: 54.4rem;
  padding-top: 7.4rem;
  padding-bottom: 8.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.your-time__block {
  width: 100%;
  height: 21.2rem;
  display: flex;
}
.your-time__block .block-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.your-time__block .block-item .block-img {
  background-color: rgba(31, 167, 131, 0.15);
}
.your-time__block .block-item:not(:last-child) {
  padding: 2.4rem 2.4rem 3.1rem 2.4rem;
  border: 1px solid #C9D2DA;
  width: 25.6%;
}
.your-time__block .block-item:not(:last-child) p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  color: #6F889C;
}
.your-time__block .block-item:last-child {
  width: 23.2%;
  position: relative;
  background-color: #1FA783;
}
.your-time__block .block-item:last-child .block-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-image: url("../img/your-time-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
.your-time__block .block-item:last-child .block-inner .inner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background: linear-gradient(180deg, rgba(31, 167, 131, 0) 50%, #1FA783 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3.1rem 2.2rem;
  color: #FFFFFF;
}
.your-time__block .block-item:last-child .block-inner .inner p:nth-child(1) {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 2rem;
}
.your-time__block .block-item:last-child .block-inner .inner p:nth-child(2) {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}
.your-time__block .block-item:last-child .block-inner .inner .btn-transparent {
  width: 100%;
  align-self: center;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.8rem;
}
.your-time__text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #6F889C;
  text-align: center;
  align-self: center;
}

.services {
  width: 100%;
  height: 91.6rem;
  background-image: url("../img/services-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.services__top {
  height: 38rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  display: flex;
  padding-bottom: 7.8rem;
  padding-top: 7.8rem;
}
.services__top-left {
  width: 42.8%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.services__top-left h2 {
  color: #FFFFFF;
}
.services__top-left p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #6F889C;
}
.services__top-left .btn-transparent {
  width: 50.94%;
}
.services__top-left .btn-transparent p {
  color: #1FA783;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.84rem;
}
.services__top-right {
  width: 57.2%;
  margin-top: 1.2rem;
  border: 1px solid rgba(255, 255, 255, 0.15);
  display: flex;
  flex-wrap: wrap;
}
.services__top-right-item {
  width: 50%;
  height: 33.333%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 3.4rem;
}
.services__top-right-item img {
  width: 2rem;
  height: 2rem;
}
.services__top-right-item h5 {
  color: #FFFFFF;
  margin-left: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  line-height: 2.5rem;
}
.services__bottom {
  width: 77.08%;
  height: 42.4rem;
  margin: 0 11.46%;
  position: absolute;
  top: 38rem;
  left: 0;
  z-index: 50;
  background-color: #FFFFFF;
  padding: 4rem 4.2rem 4rem 6.4rem;
}
.services__bottom form {
  width: 100%;
  height: 100%;
  display: flex;
}
.services__bottom-left {
  width: 70%;
  height: 100%;
  padding: 1.2rem 3% 1.9rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.services__bottom-left-forms {
  display: flex;
}
.services__bottom-left-forms #tax-type {
  border-left: none;
}
.services__bottom-left-sliders {
  display: flex;
  width: 100%;
  height: 7rem;
}
.services__bottom-left-sliders .slider-block {
  width: 45%;
  height: 100%;
  margin-right: 5%;
}
.services__bottom-left-sliders .slider-block__label {
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services__bottom-left-sliders .slider-block__label label {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  text-align: left;
  display: flex;
  align-items: center;
}
.services__bottom-left-sliders .slider-block__label label img {
  width: 2rem;
  height: 2rem;
  margin-left: 0.9rem;
}
.services__bottom-left-sliders .slider-block__label p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  text-align: right;
  color: #6F889C;
}
.services__bottom-left p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  text-align: left;
  color: #6F889C;
}
.services__bottom-right {
  width: 30%;
  height: 100%;
  background-color: #F4F5F6;
  padding-top: 5.4rem;
  padding-bottom: 5.9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.services__bottom-right p:nth-child(1) {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}
.services__bottom-right .optimalRate {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.68rem;
}
.services__bottom-right .optimalRate span {
  font-family: Montserrat, sans-serif;
  font-size: 2.8rem;
  font-weight: 600;
}
.services__bottom-right input {
  width: 84.67%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.6rem;
  border-radius: 0.8rem;
  background-color: #1FA783;
  color: #FFFFFF;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.84rem;
}
.services__bottom-right input:active {
  border: none;
}
.services__bottom-right p:last-child {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  color: #6F889C;
  text-align: center;
}
.services__bottom-right p:last-child span {
  color: #1FA783;
}

.rates {
  height: 83.5rem;
  padding-top: 8.17rem;
  padding-bottom: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.rates__selection {
  display: flex;
  width: 100%;
  height: 4.5rem;
}
.rates__selection div {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  border-bottom: 3px solid #1FA783;
}
.rates__selection-passive {
  background-color: #F4F5F6;
}
.rates__selection-active {
  background-color: #1FA783;
  color: #FFFFFF;
}
.rates__cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rates__footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rates__footer .btn-transparent {
  width: 21.62%;
}
.rates__footer .rates__footer-last {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.8rem;
  color: #1FA783;
}

.certificates {
  height: 43rem;
  padding-top: 4.3rem;
}
.certificates h2 {
  text-align: left;
}
.certificates__items {
  width: 100%;
  height: 25.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
  position: relative;
}
.certificates__item {
  width: 23%;
  height: 100%;
  background-color: #F4F5F6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.certificates__slider {
  width: 100%;
  height: 4.4rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.benefit {
  width: 100%;
  height: 52rem;
  background-image: url("../img/benefit-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: 9rem;
}
.benefit .benefit-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  padding-bottom: 14.6rem;
  padding-top: 10rem;
  display: flex;
}
.benefit .benefit-inner__left {
  width: 43.2%;
  padding-top: 2rem;
}
.benefit .benefit-inner__left h2 {
  color: #FFFFFF;
}
.benefit .benefit-inner__left .btn-green {
  width: 53%;
  margin-top: 2.7rem;
}
.benefit .benefit-inner__right {
  width: 56.8%;
  height: 100%;
}
.benefit .benefit-inner__items {
  display: flex;
  width: 100%;
  height: 50%;
}
.benefit .benefit-inner__items:last-child {
  padding-top: 3rem;
}
.benefit .benefit-inner__item {
  width: 50%;
  height: 100%;
}
.benefit .benefit-inner__item:nth-child(2), .benefit .benefit-inner__item:nth-child(4) {
  padding-left: 6rem;
}
.benefit .benefit-inner__item p:nth-child(1) {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.7rem;
  text-align: left;
  color: #1FA783;
  margin-bottom: 1.5rem;
}
.benefit .benefit-inner__item p:nth-child(2) {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  text-align: left;
  color: #FFFFFF;
}

.trust {
  height: 46.5rem;
  margin-top: 9.2rem;
  margin-bottom: 11.2rem;
}
.trust__content {
  width: 100%;
  height: 38.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
}
.trust__content-left {
  width: 48.65%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.trust__content-left-items {
  width: 50%;
  height: 100%;
}
.trust__content-left-items:nth-child(2) {
  border: 1px solid #C9D2DA;
}
.trust__content-left-items:nth-child(3) {
  border-top: 1px solid #C9D2DA;
  border-right: 1px solid #C9D2DA;
  border-bottom: 1px solid #C9D2DA;
}
.trust__content-left-item {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.trust__content-left-item:nth-child(1) {
  border-bottom: 1px solid #C9D2DA;
}
.trust__content-right {
  width: 48.65%;
  height: 100%;
  border: 1px solid #C9D2DA;
}

/*# sourceMappingURL=style.css.map */
